* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: sans-serif; }

body {
  width: 100%;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .flex .box {
    background-color: #00aa9c;
    padding: 30px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-bottom: 20px; }
    .flex .box .heading {
      font-size: 22px;
      margin-bottom: 10px; }
      .flex .box .heading h1 {
        margin: 0px; }
    .flex .box .description {
      font-size: 18px;
      margin-bottom: 10px; }
    .flex .box .form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .flex .box .form form {
        margin-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: calc(100% - 20px);
        max-width: 500px; }
        .flex .box .form form input {
          border: 2px solid #9100e5;
          padding: 12px;
          padding-top: 13px;
          font-size: 17px;
          outline: none; }
        .flex .box .form form .user-name {
          width: 80%;
          border-radius: 6px 0px 0px 6px;
          color: black;
          letter-spacing: 2px; }
        .flex .box .form form .submit {
          width: 20%;
          background-color: #9100e5;
          font-weight: bold;
          border-radius: 0px 6px 6px 0px;
          cursor: pointer;
          color: white;
          outline: none; }

.layer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.height {
  height: 100%; }

h1 {
  font-family: 'Kalam', cursive; }

p {
  font-family: 'Lato', sans-serif; }

.card-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0px; }
  .card-body .card {
    background-image: url("../img/bg.jpg");
    width: 100%;
    max-width: 800px;
    padding: 70px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .card-body .card .bg-gif {
      background-image: url("../img/bg-over.gif");
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
    .card-body .card .kandil {
      position: absolute;
      top: 10px; }
      .card-body .card .kandil img {
        width: 50px;
        height: auto; }
    .card-body .card .left {
      left: 10px; }
    .card-body .card .right {
      right: 10px; }
    .card-body .card .card-heading {
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      color: yellow;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0px; }
    .card-body .card .diva {
      margin: 30px 0px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .card-body .card .card-msg {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 35px;
      letter-spacing: 1px; }
    .card-body .card .from {
      text-align: right;
      font-size: 20px;
      font-weight: 600; }

.footer {
  position: relative;
  bottom: 0px;
  background-color: #00aa9c;
  text-align: center;
  color: white;
  width: 100%;
  height: 30px;
  line-height: 30px;
  letter-spacing: 2px; }
  .footer a {
    color: white;
    text-decoration: none; }

.footerup {
  border-bottom: 1px solid black; }

.up {
  bottom: 30px; }

.absolute {
  position: absolute; }

.share-height {
  height: 50px;
  line-height: 50px; }

.share {
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .share .btn {
    width: 50%;
    padding: 7px 0px;
    outline: none;
    color: white;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .share .btn .text {
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase; }
    .share .btn img {
      width: 40px; }
  .share .whatsapp {
    background-color: #4caf50; }
  .share .fb {
    background-color: #3b5998; }

@media only screen and (max-width: 500px) {
  body {
    background-image: none; }
    body .layer {
      background-color: black; }
  .bg {
    background-image: url("../img/main-bg.jpg"); }
    .bg .layer {
      background-color: rgba(0, 0, 0, 0.5); }
  .card-body {
    padding: 0px; }
    .card-body .card {
      padding: 70px 20px;
      border-radius: 0px; }
      .card-body .card .card-heading {
        font-size: 30px; }
      .card-body .card .card-msg {
        text-align: justify;
        text-indent: 60px; }
      .card-body .card .kandil {
        top: 5px; }
        .card-body .card .kandil img {
          width: 40px; }
      .card-body .card .left {
        left: 5px; }
      .card-body .card .right {
        right: 5px; }
  .flex .box {
    padding: 30px 15px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid black; }
    .flex .box .heading {
      font-size: 20px;
      margin-bottom: 15px; }
    .flex .box .description {
      font-size: 16px;
      margin-bottom: 15px; }
    .flex .box .form form .user-name {
      letter-spacing: 1px; }
  .footer {
    letter-spacing: 0px;
    overflow: hidden; } }
